.cover {
    position: relative;
    max-width: 1184px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .cover {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover {
      max-width: 768px;
      max-height: 480px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover {
      max-width: 320px;
      max-height: 200px;
    }
  }

  