.cover {
    position: relative;
    max-width: 1184px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .cover {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover {
      padding-top: calc(100vw * (120 / 1023));
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover {
      padding-top: calc(100vw * (90 / 767));
    }
  }

  