.place__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: #fff;
    align-self: start;
    justify-content: start;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }
  